{% extends 'base.html.twig' %}

{% block body %}
    <h1>Noticia index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>DataPublicacao</th>
                <th>Conteudo</th>
                <th>Imagem</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for noticium in noticias %}
            <tr>
                <td>{{ noticium.id }}</td>
                <td>{{ noticium.titulo }}</td>
                <td>{{ noticium.dataPublicacao ? noticium.dataPublicacao|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ noticium.conteudo }}</td>
                <td>{{ noticium.imagem }}</td>
                <td>
                    <a href="{{ path('app_noticia_show', {'id': noticium.id}) }}">show</a>
                    <a href="{{ path('app_noticia_edit', {'id': noticium.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_noticia_new') }}">Create new</a>
{% endblock %}
